body {
	background-color: #111111;

	margin: 0px;
	padding: 0px;
}

#gifs {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: auto;

	list-style: none;

	padding: 0px;
	margin: 0px;

	overflow: hidden;

	z-index: 0;
}

	#gifs li {
		display: inline-block;

		padding: 0px;
		margin: 0px;

		width: 50%;
		height: 250px;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

		#gifs .title {
			margin: 0px;
			padding: 0px;

			cursor: pointer;

			color: #ffffff;
			font-family: sans-serif;
			font-size: 30px;
			font-weight: bold;
			line-height: 250px;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

			#gifs .title:hover {
				background-color: rgba(0, 0, 0, 0.75);
			}